/* Tablet */
@media (max-width: 1024px) {
  .intro-wrapper__news,
  header,
  footer,
  .intro-wrapper__title {
    padding-left: 12px;
    padding-right: 12px;
  }
  .content-socials,
  .intro-wrapper__text {
    padding-left: 12px;
  }
  
}

@media (max-width: 960px) {
  .header-wrapper__promo,
  .content-aside {
    display: none;
  }
  .intro-wrapper__title {
    max-width: 100%;
  }
  .content {
    grid-template-columns: 70px 1fr;
  }
  .content-wrapper {
    border: none;
    padding-right: 12px;
  }
}

@media (max-width: 768px) {
  .header-menu__text,
  .content-socials {
    display: none;
  }
  .content {
    grid-template-columns: 1fr;
    display: block;
  }
  .content-wrapper {
    padding-left: 12px;
  }
}

@media (max-width: 680px) {
  .popup {
    max-width: calc(100vw - 36px);
    max-height: calc(100vh - 36px);
  }
}

/* Phone */
@media (max-width: 575px) {
  .header-login__text {
    display: none;
  }
  .header-wrapper__logo {
    width: 270px;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

/* Phone - 320px */
@media (max-width: 374px) {
  .header-wrapper__logo {
    width: 220px;
  }
}